@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #57C785, #2A7B9B);
    font-family: 'Gelasio', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: width 0.3s ease;
}

.btn {
    background-color: #fff;
    border: 0;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}